*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
}
.container{
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
}
th{
  text-align: center;
  width: 235px;
  padding: 15px 0;
}
td{
  text-align: center;
  padding: 20px 0;
}
th.table__first-th{
  width: 100px;
}
